{% extends 'base.html' %}
{% block content %}
<div class="col-lg-9">
<nav aria-label="breadcrumb" class="mt-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">category</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
  </ol>
</nav>
<div class="row">
    <div class="col-md-4">
        <img src="{{ product.image.url }}" alt="" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{ product.name }}</h3>
        <p>Цена: {{ product.price }}</p>
        <p>Описание: {{ product.description }}</p>
        <p>Телефон номер: </p>
        <hr>
    </div>
    <hr>
    <img src="https://cdn.peri.com/.imaging/l/dam/c13dd084-3779-4925-a1b9-484fcb537797/95507/trio-panel-formwork.jpg" class="img-fluid" alt="...">
    <hr>
    <img src="https://img.archiexpo.com.ru/images_ae/photo-g/3627-6661627.jpg" class="img-fluid" alt="...">
    <hr>
    <img src="https://image.made-in-china.com/2f0j00iocGQuDEITkN/Euro-Form-Hizen-Steel-Frame-Plywood-Concrete-Formwork.jpg" style="height: 500px;" alt="...">
    <hr>
    <img src="http://www.dzcsformwork.com/upload/201510121854223844745.JPG" style="height: 500px;" alt="...">

    <hr>




    <p>Характеристики: </p>
    

    <table class="table table-striped">
    <tbody>
      <tr>
        <td>Диоганаль</td>
        <td>#</td>
      </tr>
    <tr>
        <td>Дисплей</td>
        <td>#</td>
      </tr>
    <tr>
        <td>Процессор</td>
        <td>#</td>
      </tr>
    <tr>
        <td>Опретивная память</td>
        <td>#</td>
      </tr>
    <tr>
        <td>Видеокарта</td>
        <td>#</td>
      </tr>
    <tr>
        <td>Время работы</td>
        <td>#</td>
      </tr>
    </tbody>
  </table>

</div>


{% endblock content %}